/* all page font familly imports from fonts.google.com */

@import url('https://fonts.googleapis.com/css?family=Raleway');

/* font-family: 'Raleway', sans-serif; */


/* font familly of section [timetable] */

@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* font-family: 'Quicksand', sans-serif; */


/* GENERAL STYLING */

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5
}

section {
    width: 100%;
    overflow: hidden
}

h1,
h2,
h3 {
    margin: 0
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #fff;
}


/* MY SIMPLE FRAMEWORK */

.container {
    width: 75%;
    margin: 0 auto;
    position: relative
}

.spacing {
    padding: 60px 0;
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center
}

.center {
    text-align: center
}

.middle-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.hide {
    display: none
}

.btn {
    display: inline-block;
    padding: 7px 14px;
    border-radius: 3px;
    user-select: none
}

.notes {
    color: #9a9a9a;
    font-size: 13px
}

.blue {
    color: #94bae0
}

.slow {
    transition-duration: .3s
}

.lead {
    line-height: 1.7;
}


/* styling error msg */

.notsupport {
    text-align: center;
    padding: 10px 0;
    background-color: #d19696
}

.notsupport p,
.notsupport a {
    margin: 0;
    color: #ac4040;
    font-family: sans-serif
}

.notsupport a {
    text-decoration: underline
}


/* START SECTION [HOME] */

#home {
    width: 100%;
    height: 100vh;
    background-image: url('../images/hero-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative
}

#home header {
    width: 100%;
    padding-top: 40px
}

#home header .logo {
    float: left;
    margin-right: 30px
}

#home header #sign-btn,
#home header #social-icons ul,
#home header #social-icons {
    float: right
}

#home header #sign-btn {
    margin: 10px 0 0 35px;
    font-weight: bold;
    color: rgba(255, 255, 255, .5)
}

#home header #social-icons ul li {
    display: inline-block;
    padding: 10px 10px 0 10px
}

#home header #social-icons ul li a {
    color: rgba(255, 255, 255, .5)
}

#home header #sign-btn:hover {
    color: rgba(255, 255, 255, 1)
}

#home header #social-icons ul li:nth-of-type(1) a:hover {
    color: #8ebcf2
}

#home header #social-icons ul li:nth-of-type(2) a:hover {
    color: #f28e8e
}

#home header #social-icons ul li:nth-of-type(3) a:hover {
    color: #e487e8
}

#home header #social-icons ul li:nth-of-type(4) a:hover {
    color: #f2e38e
}

#home header #social-icons ul li:nth-of-type(5) a:hover {
    color: #000000
}


/* resposive menu */

#responsive-menu {
    position: absolute;
    right: 0;
    text-align: right;
    user-select: none;
    display: none
}

#responsive-menu #menu-icons {
    margin-top: 10px;
    color: rgba(255, 255, 255, .5);
    font-size: 20px
}

#responsive-menu #menu {
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
    text-align: left;
    margin: 28px 10px 0 0;
    position: relative;
    display: none
}

#responsive-menu #menu:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -14px;
    right: 0;
    border-width: 7px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, .5) rgba(0, 0, 0, .5) transparent
}

#responsive-menu #menu li {
    display: inline-block;
    padding: 7px 12px;
}

#responsive-menu #menu li:nth-of-type(1) {
    display: block;
    padding: 10px 12px;
}

#responsive-menu #menu li:hover {
    background-color: rgba(0, 0, 0, .2)
}


/* home content */

#home-content {
    color: #fff;
    transform: translate(-50%, -10%)
}

#home-content h1 {
    font-size: 30px;
    font-weight: 100
}

#home-content .btn {
    color: #fff;
    border: 1px solid #fff;
    margin-top: 30px
}

#home-content .btn:hover {
    border: 1px solid transparent;
    background-color: rgba(102, 128, 154, 0.6);
    color: rgba(255, 255, 255, 0.6)
}


/* END SECTION [HOME] */


/* START SECTION [TIMETABLE] */

#timetable {
    font-family: 'Quicksand', sans-serif
}


/* about us */

#about {
    width: 100%;
    background-color: #2d3039;
    color: #9a9a9a;
    position: relative
}

#about:after {
    content: '';
    width: 0;
    height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: #2d3039 transparent transparent transparent;
    position: absolute;
    left: 14%;
    bottom: -40px;
    transform: translate(-50%, 0);
}

#about #team-work {
    display: table;
    margin: 0 auto;
}

#about #team-work .person {
    width: 200px;
    height: 200px;
    border: 5px solid #545760;
    border-radius: 50%;
    float: left;
    background-size: cover;
    background-position: center;
    margin: 0 20px 40px 20px;
    filter: grayscale();
    cursor: pointer
}

#about #team-work .person:hover {
    filter: none;
    transform: scale(1.1)
}

#about #team-work .person:nth-of-type(1) {
    background-image: url(../images/michael-dam-mEZ3PoFGs_k-unsplash.jpg)
}

#about #team-work .person:nth-of-type(2) {
    background-image: url(../images/christopher-campbell-rDEOVtE7vOs-unsplash.jpg)
}

#about #team-work .person:nth-of-type(3) {
    background-image: url(../images/michael-dam-mEZ3PoFGs_k-unsplash.jpg)
}


/* timetable articles */

#timetable article {
    width: 100%;
    overflow: hidden
}

#timetable article:nth-of-type(1) {
    padding-top: 90px
}

#timetable article .img-box,
#timetable article .info-box {
    width: 50%;
    float: right
}

#timetable article .img-box img {
    width: 100%
}

#timetable article .info-box {
    box-sizing: border-box;
    padding-right: 50px
}

#timetable article .info-box .add-btn {
    font-weight: bold;
    color: #4f85bc
}


/* different styling in article 2 */

#timetable article:nth-of-type(2) .img-box,
#timetable article:nth-of-type(2) .info-box {
    float: left
}

#timetable article:nth-of-type(2) .info-box {
    padding: 0 0 0 50px
}


/* END SECTION [TIMETABLE] */


/* START SECTION [PRO] */

#pro #events {
    width: 100%;
    height: 221px;
    background-image: url('../images/events-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative
}

#pro #events .overlay {
    width: 100%;
    height: 221px;
    background-color: rgba(0, 0, 0, .8);
}

#pro #events a {
    text-decoration: underline
}

#pro #events a:hover {
    color: #cbc644
}


/* pro offers */

#pro-offers {
    width: 100%;
    padding: 70px 0 30px 0;
    background-color: #0d0d0d
}

#pro-offers #all-cards {
    overflow: hidden;
    margin: 0 auto;
    display: table
}

#pro-offers #all-cards .card {
    width: 320px;
    margin: 60px 8px;
    float: left;
    background-color: #b79c2b;
    color: #0d0d0d
}

#pro-offers #all-cards .card:nth-of-type(2) {
    box-shadow: 1px 1px 30px #000;
    margin: 0 8px
}

#pro-offers #all-cards .card .heading {
    text-align: center
}

#pro-offers #all-cards .card .heading .name {
    padding: 20px 0
}

#pro-offers #all-cards .card .heading .name {
    text-transform: uppercase
}

#pro-offers #all-cards .card .heading .price {
    padding: 25px 0;
    background-color: #0d0d0d;
    color: #cecece;
    position: relative
}

#pro-offers #all-cards .card .heading .price:before {
    content: '';
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #0d0d0d transparent;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0)
}

#pro-offers .features {
    padding-top: 30px
}

#pro-offers .features h3 {
    position: relative;
    padding-left: 18px;
    margin-bottom: 10px
}

#pro-offers .features h3:before {
    content: '';
    width: 0;
    height: 0;
    border-width: 9px 6px 9px 6px;
    border-style: solid;
    border-color: #0d0d0d transparent transparent transparent;
    position: absolute;
    top: 10px;
    left: 0
}

#pro-offers .features ul li i {
    width: 21px
}

#pro-offers .card-btns .btn {
    text-transform: uppercase;
    padding: 9px 18px;
    margin: 20px 0 30px 0;
    background-color: #0d0d0d
}

#pro-offers .card-btns .btn:hover {
    background-color: #1a1a1a
}

#pro-offers .card-btns .btn:nth-of-type(2),
#pro-offers .card-btns .btn:nth-of-type(3) {
    display: none
}


/* FOOTER */

footer {
    width: 700px;
    padding: 30px 50px 0 50px;
    box-sizing: border-box;
    background-color: #111212;
    border-radius: 50px;
    margin: 100px auto 0 auto;
    overflow: hidden
}

footer .logo {
    float: left;
    color: #fff;
    opacity: .2
}

footer:hover .logo {
    opacity: 1
}


/* footer icons */

footer #footer-icons {
    float: right
}

footer #footer-icons ul li {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    background-color: #0d0d0d;
    margin: 0 2px;
    cursor: pointer
}

footer #footer-icons ul li a {
    font-size: 17px;
    color: #434141;
}

footer #footer-icons ul li:nth-of-type(1):hover {
    background-color: #212846;
}

footer #footer-icons ul li:nth-of-type(2):hover {
    background-color: #692727;
}

footer #footer-icons ul li:nth-of-type(3):hover {
    background-color: #4b1f49;
}

footer #footer-icons ul li:nth-of-type(4):hover {
    background-color: #74741f;
}

footer #footer-icons ul li:nth-of-type(5):hover {
    background-color: #000000;
}

footer #footer-icons ul li:nth-of-type(6):hover {
    background-color: #1a1a1a;
}

footer #footer-icons ul li:hover a {
    color: #fff
}


/* footer copyright */

footer #copyright {
    width: 58%;
    padding: 7px 15px;
    background-color: #0d0d0d;
    color: #434141;
    clear: both;
    margin: 70px auto 0 auto
}

footer #copyright p {
    margin: 0
}

footer #copyright a {
    color: #434141
}

footer #copyright a:hover {
    text-decoration: underline
}


/* END SECTION [PRO] */